.page {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* DEFAULT */
.default {
  background: #ffffff;
}

/* NOTIFICATIONS — VERY LIGHT GREY */
.lightGrey {
  background: #f6f7f8;
}

/* TOURNAMENTS — VERY LIGHT SKY BLUE */
.skyBlue {
  background: #f2f7fb;
}

/* CALENDAR — VERY LIGHT SPRINGBOK GREEN */
.springbok {
  background: #f3f8f2;
}